/**
 * Revview stylesheet
 */
#revview {
	display: block;
	position: absolute;
	top: 30px;
	left: 24%;
	right: 24%;
	padding: 15px 2%;
	width: 52%;
	background-color: #fff;
	box-shadow: 0 3px 20px rgba(0,0,0,.2);
	font-size: 14px;
	transition: top .3s ease-out;
}

#revview.revview-off {
	top: 0;
}

.revview-loading:after {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.revview-revision-list {
	position: relative;
}

.revview-revision-list .ui-slider {
	height: 20px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.revview-revision-list .ui-slider:before {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 1px;
	content: "";
	display: block;
	background-color: #ccc;
}

.revview-revision-list .ui-slider-handle {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: rgba(251, 0, 0, 0.58);
	position: absolute;
	top: 0;
	margin-left: -9px;
	border-radius: 9em;
	cursor: pointer;
	z-index: 1;
}

.revview-revision-list .revview-tick {
	position: absolute;
	top: 8px;
	display: block;
	width: 2px;
	height: 5px;
	background-color: #ccc;
}

.revview-revision-list .revview-tooltip {
	position: absolute;
	background-color: #eee;
	top: 30px;
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	min-width: 200px;
	margin-left: -100px;
}
.revview-revision-list .revview-tooltip:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #eee;
	top: -16px;
	left: 50%;
	margin-left: -4px;
	border-width: 8px;
}
.revview-tooltip .revview-tooltip-author {
	display: block;
}

.revview-revision-list .revview-info-heading {
	margin: 10px 0 0;
	font-size: 14px;
}

.revview-off .ui-slider,
.revview-off .revview-info,
.revview-off .revview-stop{
	display: none;
}

.revview-button {
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	position: absolute;
}

.revview-start {
	font-size: 14px;
	font-weight: 300;
	top: 30px;
	left: 50%;
	right: 50%;
	width: 140px;
	margin-left: -70px;
	padding: 10px;
}

.revview-on .revview-start {
	display: none;
}

.revview-stop {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 30px;
	width: 30px;
	padding: 0;
	font-size: 21px;
	font-weight: normal;
}

.revview-on .revview-stop {
	right: 50%;
	bottom: -30px;
}