/**
 * Revview - Loader
 */

/* Main wrapper */
#revview {
	visibility: hidden;
	font-size: 14px;
	z-index: 99998;
	opacity: 0;
	transition: opacity .5s ease-out;
}
#revview.revview-top, #revview.revview-bottom {
	position: fixed;
	left: 0;
	padding: 0 2%;
	width: 100%;
	text-align: center;
}
#revview.revview-top {
	top: 0;
}
#revview.revview-bottom {
	bottom: 0;
}
#revview.revview-before, #revview.revview-after {
	position: static;
	width: auto;
	text-align: inherit;
	padding: 0;
	margin-bottom: 1em;
}
#revview.revview-before {

}
#revview.revview-loaded {
	visibility: visible;
	opacity: 1;
}

/* Buttons */
#revview .revview-button, #revview .revview-button:active {
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	background: #333;
	color: #fff;
	border: none;
	transition: background .2s ease-out;
	font: 400 12px sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 0;
	display: inline-block;
}

#revview .revview-button:hover, #revview .revview-button:focus {
	background: #FF4B4B;
	color: #fff;
	text-decoration: none;
}

#revview .revview-button:active {
	background: #FF5F5F;
	color: #fff;
}

/* Tweaks when admin bar is visible */
.admin-bar #revview.revview-top {
	top: 32px;
}

@media screen and (max-width: 782px) {
	.admin-bar #revview.revview-top {
		top: 46px;
	}
}
@media screen and (max-width: 600px) {
	.admin-bar #revview.revview-top {
		position: absolute;
	}
}