/**
 * Revview stylesheet
 */

/* Main wrapper */
#revview {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 2%;
	width: 100%;
	height: 0;
	box-sizing: border-box;
	background-color: #fff;
	background-color: rgba( 255,255,255,.95 );
	box-shadow: 0 3px 20px rgba(0,0,0,.2);
	font-size: 14px;
	z-index: 99998;
}
#revview.revview-loaded {
	visibility: visible;
}

/* Buttons */
.revview-button, .revview-button:active {
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	position: absolute;
	background: #333;
	color: #fff;
	border: none;
	transition: background .2s ease-out;
	font: 400 12px sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	top: 0;
	left: 50%;
	right: 50%;
	width: 140px;
	margin-left: -70px;
	padding: 10px;
}

.revview-button:hover, .revview-button:focus {
	background: #FF4B4B;
	color: #fff;
}

.revview-button:active {
	background: #FF5F5F;
	color: #fff;
}

/* Tweaks when admin bar is visible */
.admin-bar #revview {
	top: 32px;
}
.admin-bar #revview.body-not-static {
	top: 0;
}