/**
 * Revview stylesheet
 */
#revview {
	display: block;
	position: fixed;
	top: 80px;
	left: 24%;
	right: 24%;
	background-color: #fff;
	padding: 20px 2%;
}
.revview-loading:after {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.revview-revision-list {
	position: relative;
}

.revview-revision-list .ui-slider {
	height: 20px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.revview-revision-list .ui-slider:before {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 1px;
	content: "";
	display: block;
	background-color: #ccc;
}

.revview-revision-list .ui-slider-handle {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: rgba(251, 0, 0, 0.58);
	position: absolute;
	top: 0;
	margin-left: -9px;
	border-radius: 9em;
	cursor: pointer;
	z-index: 1;
}

.revview-revision-list .revview-tick {
	position: absolute;
	top: 8px;
	display: block;
	width: 2px;
	height: 5px;
	background-color: #ccc;
}

.revview-revision-list .revview-tooltip {
	position: absolute;
	background-color: #eee;
	top: -60px;
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	min-width: 200px;
	margin-left: -100px;
}
.revview-tooltip .revview-tooltip-author {
	display: block;
}

.revview-revision-list .revview-info-heading {
	margin: 10px 0;
	font-size: 16px;
}

.revview-stop {
	display: none;
}