/**
 * Revview - Revision Selection
 */

/* Main wrapper */
#revview {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 2%;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	background-color: #fff;
	background-color: rgba( 255,255,255,.95 );
	box-shadow: 0 3px 20px rgba(0,0,0,.2);
	font-size: 14px;
	transition: top .3s ease-out;
	z-index: 99998;
}

#revview.revview-off {
	top: 0;
	height: 0;
}

/* Revision stage */
.revview-ui {
	height: 100%;
}
html.revview-ui {
	overflow: hidden;
}
body.revview-ui {
	padding-top: 100px;
}
#revview-stage {
	height: 100%;
}
#revview-render {
	width: 100%;
	min-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Blocking effect when loading revision */
.revview-loading:after {
	display: block;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Revision selection bar */
.revview-revision-list {
	position: relative;
	padding: 15px 0;
}

.revview-revision-list .ui-slider {
	height: 20px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

.revview-revision-list .ui-slider:before {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 1px;
	content: "";
	display: block;
	background-color: #ccc;
}

.revview-revision-list .ui-slider-handle {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-color: #fb323a;
	background-color: rgba(251, 0, 0, 0.58);
	position: absolute;
	top: 1px;
	margin-left: -9px;
	border-radius: 9em;
	cursor: pointer;
	z-index: 1;
}

.revview-revision-list .ui-slider-handle:focus {
	outline: none;
	box-shadow: 0 0 3px #fb323a;
}

.revview-revision-list .revview-tick {
	position: absolute;
	top: 3px;
	display: block;
	width: 14px;
	height: 14px;
	margin-left: -7px;
	background-color: #ccc;
	border-radius: 9em;
	box-shadow: inset 0 0 0 1px #ccc, inset 0 0 0 3px #fff;
	transition: all .2s ease-in-out;
}
.revview-revision-list .revview-tick:hover {
	background-color: #fb323a;
	box-shadow: inset 0 0 0 3px #fb323a;
}

/* Tooltip */
.revview-revision-list .revview-tooltip {
	position: absolute;
	background-color: #333;
	color: #fff;
	top: 35px;
	padding: 5px 0;
	text-align: center;
	font-size: 12px;
	line-height: 21px;
	width: 200px;
	margin-left: -100px;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
}
.revview-revision-list .revview-tooltip:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #333;
	top: -16px;
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
}
.revview-tooltip .revview-tooltip-author {
	display: block;
}
.revview-revision-list .revview-info {
	margin: 5px 0;
}
.revview-revision-list .revview-info-heading {
	margin: 10px 0 5px;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
}
.revview-revision-list .revview-tooltip-left {
	margin-left: -10px;
	transition: margin .2s ease-out;
}
.revview-revision-list .revview-tooltip-left:after {
	left: 0;
	margin-left: 4px;
}
.revview-revision-list .revview-tooltip-right {
	margin-left: -190px;
	transition: margin .2s ease-out;
}
.revview-revision-list .revview-tooltip-right:after {
	left: 100%;
	margin-left: -20px;
}

.revview-off .ui-slider,
.revview-off .revview-info,
.revview-off .revview-stop{
	display: none;
}

/* Buttons */
.revview-button, .revview-button:active {
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	position: absolute;
	background: #333;
	color: #fff;
	border: none;
	padding: 10px 0;
	font-family: sans-serif;
	transition: background .2s ease-out;
	border-radius: 0;
}

.revview-button:hover, .revview-button:focus {
	color: #fff;
	background: #FF4B4B;
}

.revview-button:active {
	background: #FF5F5F;
}

.revview-stop, .revview-stop:active {
	position: absolute;
	bottom: -30px;
	right: 50%;
	height: 30px;
	width: 30px;
	margin-right: -15px;
	padding: 0;
	font-size: 21px;
	font-weight: normal;
}

/* Loading animation */
#revview .revview-progress {
	opacity: 0;
	visibility: hidden;
}
#revview.revview-loading .revview-progress {
	list-style: none;
	display: block;
	width: 40px;
	margin: 0 0 0 -20px;
	padding: 0;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	line-height: 1;
	text-align: center;
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease-out;
	box-sizing: border-box;
}

.revview-loading .revview-progress span {
	margin: 0 3px 0 0;
	padding: 0;
	height: 10px;
	width: 10px;
	border: 1px solid #ccc;
	border-radius: 9em;
	-webkit-animation: revview-progress 3s infinite;
	animation: revview-progress 3s infinite;
	display: inline-block;
	box-sizing: border-box;
}

.revview-loading .revview-progress span:nth-child(1n) {
	left: -20px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.revview-loading .revview-progress span:nth-child(2n) {
	left: 0;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.revview-loading .revview-progress span:nth-child(3n) {
	left: 20px;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

@-webkit-keyframes revview-progress {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #999;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: #fff;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #999;
	}
}

@keyframes revview-progress {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #999;
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background: #fff;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background: #999;
	}
}

/* Tweaks when admin bar is visible */
.admin-bar #revview {
	top: 32px;
}
.admin-bar.revview-ui {
	padding-bottom: 32px;
}

/* Theme Support */
body.twentyfifteen:before {
	content: initial !important;
}